<!DOCTYPE html>
<html>
<head>
  <title>Swolegrid</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render 'shared/css_loader' %>
  <%= render 'shared/favicons' %>

</head>
<body>
  <%= render 'shared/icon_sprite' %>
  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  <%= render 'shared/scripts' %>
</body>
</html>
